//@font Almarai
$almarai-font: 'https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap';
@import url($almarai-font);


// Open sans
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');
$open-sans: 'Open Sans', sans-serif;
