//@file contains card styling
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);

  .card-header {
    height: 10rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .card-body {
    padding: 1.25rem;
    h5 {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }

  .card-title {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
