//Forms
form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form_wrapper {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 40em;
  max-width: 80%;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px;
  border-radius: 6px;
  //box-shadow: 0px 8px 36px #222;
  background-color: #fff;
}

.form_wrapper > h2 {
  display: flex;
  justify-content: center;
  font-family: $almarai-font;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: #222;
}

.form_wrapper--desc {
  text-align: center;
  span {
    color: $txt-orange;
  }
}

//Form input
input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type='submit'] {
  background-color: $bg-orange;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: $bg-orange-dark;
}

input:focus-visible {
  outline: 3px solid $bg-orange;
}
