//@file contains color variables :defined

//Primary colors
$bg-orange: #fc732f;
$bg-orange-dark: #df672c;
$nav-grey: #5c524d; //nav

//secondary
$bg-grey: #e5e5e5;
$white-bg: #fff;
//Nav colors
$nav-link-item-active: #86eaae;

//text colors
$txt-grey: #757575;
$txt-orange: #fc732f;

//forms
$frm-border-color: #d5d5d5;
