body {
  margin: 0;
  background-color: $bg-grey;
  font-family: 'Almaria', sans-serif;
}

.card__title--desc {
  padding: 1rem 0 2rem 0;
}
.btn-disabled {
  pointer-events: none;
}

.txt-orange {
  color: $txt-orange;
}

.txt-center {
  text-align: center;
}

.fl-right {
  float: right;
}

.fl-left {
  float: left;
}

.white-bg-container {
  background-color: $white-bg;
  padding: 10px;
  height: 200vh;
}

.fullName,
.email,
.password,
.mobile {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.email,
.password,
.mobile,
.fullName {
  width: 100%;
}

.wrapper {
  //height: 97vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1px;
  background-color: #d5d5d5;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
.attendance_num {
  flex-direction: row !important;

  label {
    width: 30%;
  }
}

.addAttendee_btn {
  width: 100%;

  .addAttendee_btn--btn {
    border: none;
    background-color: #fff;
    font-size: 1rem;
    color: $txt-orange;
    cursor: pointer;
    float: right;
  }
}

.action-btn {
  width: 100%;
  display: flex;

  input,
  button {
    width: 50%;
  }
}

.card-align-center {
  margin-top: 40%;
}

.search {
  width: 100%;
  position: relative;
}

.ico-open::before {
  content: '';
  height: 15px;
  width: 20px;
  background-size: contain;
  background-image: url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/book.png);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}
.ico-closed::before {
  content: '';
  height: 15px;
  width: 20px;
  background-size: contain;
  background-image: url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/sold-out.png);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.ico-search {
  height: 15px;
  width: 20px;
  background-size: contain;
  background-image: url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/search.png);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 4%;
  top: 30%;
}
